
.CardsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  box-shadow: 
  0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0,0,0,0.22);
  transition: .4s;
  background: rgb(242, 242, 242);

}

.Card:hover{
  box-shadow: 
  0 3px 6px rgba(0,0,0,0.16),
  0 3px 6px rgba(0,0,0,0.23);
  transform: translate(0px, -8px);
}

.CardImg {
  padding-top: 15px;
  width: 100%;
  object-fit:contain;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.CardName {
  font-size: 17px;
  letter-spacing: 4px;
  text-align: center;
  line-height: 7px;
}

.CardPrice {
  font-size: 15px;
  text-align: center;
  line-height: 7px;
  letter-spacing: 2px;
}

.OptionCard {
  display: block;
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.OptionCard:hover {
  background-color: goldenrod;
}
