.TextCompra{
    text-align: center;
    padding-top: 15px;
    font-size: 45px;
    color: #668ab5;
    margin: 0;
}

.TextOrder{
    text-align: center;
    font-size: 25px;
    margin: 0;
}

.TextId{
    text-align: center;
    color: coral;
}